<h1>Registro de Personas</h1>

<app-hijo *ngIf="data" [values]="contactForm.value"></app-hijo>

<form (ngSubmit)="onSubmit(contactForm)"  #contactForm="ngForm">

    <div class="mb-4">
        <label for="nombre" class="form-label"> <b> Nombre: </b> </label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="model.nombre" required #nombre="ngModel">
        <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">Este campo es requerido.</div>
    </div>

    <div class="mb-4">
        <label for="num" class="form-label"> <b>DNI: </b></label>
        <input type="text" class="form-control" id="num" name="num" [(ngModel)]="model.dni" required #dni="ngModel">
        <div [hidden]="dni.valid || dni.pristine" class="alert alert-danger">Este campo es requerido.</div>
    </div>

    <div class="mb-4">
        <label for="estadocivil" class="form-label"> <b> Estado Civil: </b></label>

        <select name="estadocivil" id="estadocivil" class="form-select form-select-sm" required [(ngModel)]="model.estadocivil">
            <option selected> Seleccione Estado Civil</option>
            <option value="Soltero"> Soltero</option>
            <option value="Casado"> Casado</option>
            <option value="Conviviente"> Conviviente</option>
            <option value="Divorciado"> Divorciado</option>
            <option value="Viudo"> Viudo</option>
        </select>
    </div>

    <div class="d-grid gap-2 col-4 float-start">
        <button type="submit" class="btn btn-success btn-lg" [disabled]="contactForm.invalid"> Enviar </button>
    </div>

</form>